@media (min-width:1281px) and (max-width:1800px){
nav { display:flex;
justify-content:center;
 background-color: rgb(20, 46, 18); 
    color: white;
    width: 100%; 


bottom: 0; 
left: 0; 
text-align: center; 
display: flex; 
}

nav ul {display: flex;
 
    justify-content: center;
list-style-type: none; 
margin: 0; 
padding: 0; 
	 
}

nav li 
{display: flex;
justify-content: center;
   flex: 1; 
text-align: center; }
nav a {
	
   color: white; 
text-decoration: none; 
padding-top:10px;
padding-bottom:10px;
padding-right: 30px; 
padding-left: 50px; 

font-size: 17px; 
display:block;
}

nav a:hover, a:focus{
   background-color: rgb(10, 23, 9); 
}

body{
	
    margin: 0;
	background-image: url("tlo.jpg");
}


.container {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img.logo1 {
width: 500px;

}

.item1
{	background: RGB(20, 46, 18);
	width: 27%;
	color:white;
	height:600px;
	margin-left:2%;
	margin-right:2%;
	margin-top:2%;
	border: 1% solid black;
}
.itemOnas
{	background: RGB(20, 46, 18);
	width: 50%;
	color:white;
	height:100%;

	margin-top:2%;
	padding-bottom:3%;
	border: 1% solid black;
	
}
.itemOnas2{
text-align:center;
	height:94%;
	margin: 5% 5% 5% 5%;
	border: 2px solid RGB(201, 180, 115);
	padding-left:2%;
	padding-right:2%;
	padding-bottom:2%;
}
.itemOnas3{
text-align:center;
	height:94%;
	margin: 5% 5% 5% 5%;
	border: 2px solid RGB(201, 180, 115);
	padding-left:2%;
	padding-right:2%;
	
}

.item2
{		
	width: 67%;
	color:white;
	height:500px;
	padding-right:1px;
	margin-top:2%;
	text-align:center;
	

}

img.jeden {
width: 900px;

}
.item3{
text-align:center;
	height:94%;
	margin: 5% 5% 5% 5%;
	border: 2px solid RGB(201, 180, 115);
}
	
h1.naglowek
{	
	font-size:200%;
	
}
p.napis
{
	padding-top:3%;
}

img.flag {
height:3px;
width:200px;
vertical-align:top;

}
.wyrownanie
{
	width:100%;
	display:flex;
	justify-content:center;
	
}
.menu
{	
	

	background: RGB(20, 46, 18);
	width: 70%;
	color:white;

	margin-top:2%;
	border: 2px solid RGB(201, 180, 115);
	height:100%;
	font-size:120%;
	font-family:Apple Chancery, cursive;
	text-align:center;
	    align-items: center;
    justify-content: center;
	
}
h1.menu1
{	
	text-align:center;
	
}
.item4{
	height:95%;
	margin: 5% 5% 5% 5%;
	border: 2px solid RGB(201, 180, 115);
	text-align:center;
	
	
	
}
.table1
{  margin-top:5%;
	padding-left:5%;
	padding-right:5%;
	text-align:left;
	margin:0% auto;
	width:95%
	
}
th
{
	
	text-align:left;
	padding-bottom:5px;
	font-size:150%;
	font-weight: bold;
	border-bottom:solid 2px white;
	font-style:italic;
	
}
td{
	padding-top:5px;
padding-bottom:2px;
}
td.jeden
{
	text-align:right;
}

th.pizza
{
	padding-top:20px;
}
td.skladniki
{
	padding-left:3%;
	font-size:65%;
}
.galeria1
{	background: RGB(20, 46, 18);
	width: 80%;
	color:white;
	height:100%;
	padding-bottom:2%;
	margin-top:2%;
	border: 1% solid black;
	text-align:center;
	
}
.galeria2{
text-align:center;
	height:94%;
	margin: 5% 5% 5% 5%;
	border: 2px solid RGB(201, 180, 115);
	padding-left:2%;
	padding-right:2%;
	
}
#galeria{
	  display: flex;
    align-items: center;
    justify-content: center;
}
#galeria img {
  display: none;
float:left;
}

#galeria img.active {
  display: block;
  margin: auto;

}
.button1 {
    float: left;
}
.button1 button {
	height:50%;
    width: 100%; 
}
.button2 {
    float: left;
}
.button2 button {
	height:50%;
    width: 100%; 
}

.jezyki {
	display: flex;
	width:10%;
	align-items:right;
	color:white;
	margin-left:85%;

}

.jezyki p{
	color:white;
}

.uk{
	width:30px;
}

.pl{
	width:30px;
}
}
@media (min-width:1800px)
{
	nav { display:flex;
justify-content:center;
 background-color: rgb(20, 46, 18); 
    color: white;
    width: 100%; 


bottom: 0; 
left: 0; 
text-align: center; 
display: flex; 
}

nav ul {display: flex;
 
    justify-content: center;
list-style-type: none; 
margin: 0; 
padding: 0; 
	 
}

nav li 
{display: flex;
justify-content: center;
   flex: 1; 
text-align: center; }
nav a {
	
   color: white; 
text-decoration: none; 
padding-top:10px;
padding-bottom:10px;
padding-right: 30px; 
padding-left: 55px; 
font-size: 20px; 
display:block;
}

nav a:hover, a:focus{
   background-color: rgb(10, 23, 9); 
}
body{
	
    margin: 0;
	background-image: url("tlo.jpg");
}


.container {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img.logo1 {
width: 500px;

}

.item1
{	font-size:110%;	
background: RGB(20, 46, 18);
	width: 27%;
	color:white;
	height:600px;
	margin-left:5%;
	margin-right:5%;
	margin-top:2%;
	border: 1% solid black;
	padding-bottom:1%;
	padding-left:2%;
	padding-right:2%;
	
}
.itemOnas
{	background: RGB(20, 46, 18);
	width: 50%;
	color:white;
	height:100%;

	margin-top:2%;
	padding-bottom:3%;
	border: 1% solid black;
	
}
.itemOnas2{
text-align:center;
	height:94%;
	margin: 5% 5% 5% 5%;
	border: 2px solid RGB(201, 180, 115);
	padding-left:2%;
	padding-right:2%;
	padding-bottom:1%;
	font-size:130%;
}
.itemOnas3{
text-align:center;
	height:94%;
	margin: 5% 5% 5% 5%;
	border: 2px solid RGB(201, 180, 115);
	padding-left:2%;
	padding-right:2%;
	
}

.item2
{		
	width: 67%;
	color:white;
	height:500px;
	padding-right:1px;
	margin-top:2%;
	text-align:center;
	

}

img.jeden {
width: 900px;

}
.item3{
text-align:center;
	height:94%;
	margin: 5% 5% 5% 5%;
	border: 2px solid RGB(201, 180, 115);
	
}
	
h1.naglowek
{	
	font-size:200%;
	
}
p.napis
{	
	padding-top:3%;
}

img.flag {
height:3px;
width:200px;
vertical-align:top;

}
.wyrownanie
{
	width:100%;
	display:flex;
	justify-content:center;
	
}
.menu
{	
	

	background: RGB(20, 46, 18);
	width: 70%;
	color:white;

	margin-top:2%;
	border: 2px solid RGB(201, 180, 115);
	height:100%;
	font-size:120%;
	font-family:Apple Chancery, cursive;
	text-align:center;
	    align-items: center;
    justify-content: center;
	
}
h1.menu1
{	
	text-align:center;
	
}
.item4{
	height:95%;
	margin: 5% 5% 5% 5%;
	border: 2px solid RGB(201, 180, 115);
	text-align:center;
	
	
	
}
.table1
{  margin-top:5%;
	padding-left:5%;
	padding-right:5%;
	text-align:left;
	margin:0% auto;
	width:95%
	
}
th
{
	
	text-align:left;
	padding-bottom:5px;
	font-size:150%;
	font-weight: bold;
	border-bottom:solid 2px white;
	font-style:italic;
	
}
td{
	padding-top:5px;
padding-bottom:2px;
}
td.jeden
{
	text-align:right;
}

th.pizza
{
	padding-top:20px;
}
td.skladniki
{
	padding-left:3%;
	font-size:65%;
}
.galeria1
{	background: RGB(20, 46, 18);
	width: 80%;
	color:white;
	height:100%;
	padding-bottom:5%;
	margin-top:2%;
	border: 1% solid black;
	text-align:center;
	
}
.galeria2{
text-align:center;
	height:94%;
	margin: 5% 5% 5% 5%;
	border: 2px solid RGB(201, 180, 115);
	padding-top:2%;
	padding-left:2%;
	padding-right:2%;
	
}
#galeria{
	  display: flex;
    align-items: center;
    justify-content: center;
}
#galeria img {
  display: none;
float:left;
}

#galeria img.active {
  display: block;
  margin: auto;
  width:110%;

}
.button1 {
    float: left;
}
.button1 button {
	height:120;
    width: 120%; 
}
.button2 {
    float: left;
}
.button2 button {
	height:120%;
    width: 120%; 
}

.jezyki {
	display: flex;
	width:10%;
	align-items:right;
	color:white;
	margin-left:90%;
	font-size:150%;

}

.jezyki p{
	color:white;
}

.uk{
	width:40px;
}

.pl{
	width:40px;
}


}

@media (min-width:200px) and (max-width:1280px){
nav { display:flex;
justify-content:center;
 background-color: rgb(20, 46, 18); 
    color: white;
    width: 100%; 


bottom: 0; 
left: 0; 
text-align: center; 
display: flex; 
}

nav ul {display: flex;
 
    justify-content: center;
list-style-type: none; 
margin: 0; 
padding: 0; 
	 
}

nav li 
{display: flex;
justify-content: center;
   flex: 1; 
text-align: center; }
nav a {
	
   color: white; 
text-decoration: none; 
padding-top:10px;
padding-bottom:10px;
padding-right: 30px; 
padding-left: 55px; 
font-size: 17px; 
display:block;
}

nav a:hover, a:focus{
   background-color: rgb(10, 23, 9); 
}
body{
	
    margin: 0;
	background-image: url("tlo.jpg");
	font-size: 120%;
}


.container {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img.logo1 {
width: 500px;

}

.item1
{	background: RGB(20, 46, 18);
	width: 70%;
	color:white;
	height:100%;

	margin-top:2%;
	padding-bottom:3%;
	border: 1% solid black;
}
.itemOnas
{	background: RGB(20, 46, 18);
	width: 50%;
	color:white;
	height:100%;

	margin-top:2%;
	padding-bottom:3%;
	border: 1% solid black;
	
}
.itemOnas2{
text-align:center;
	height:94%;
	margin: 5% 5% 5% 5%;
	border: 2px solid RGB(201, 180, 115);
	padding-left:2%;
	padding-right:2%;
	padding-bottom:2%;
}
.itemOnas3{
text-align:center;
	height:94%;
	margin: 5% 5% 5% 5%;
	border: 2px solid RGB(201, 180, 115);
	padding-left:2%;
	padding-right:2%;
	
}

.item2
{		display:none;
	width: 0%;
	color:white;
	height:500px;
	
	margin-top:2%;
	text-align:center;
	

}

img.jeden {
	display:none;
width: 400px;

}
.item3{
	
text-align:center;
	height:94%;
	margin: 5% 5% 5% 5%;
	border: 2px solid RGB(201, 180, 115);
	padding-left:2%;
	padding-right:2%;
	padding-bottom:2%;
}
	
h1.naglowek
{	
	font-size:200%;
	
}
p.napis
{
	padding-top:3%;
}

img.flag {
height:3px;
width:200px;
vertical-align:top;

}
.wyrownanie
{
	width:100%;
	display:flex;
	justify-content:center;
	
}
.menu
{	
	

	background: RGB(20, 46, 18);
	width: 70%;
	color:white;

	margin-top:2%;
	border: 2px solid RGB(201, 180, 115);
	height:100%;
	font-size:120%;
	font-family:Apple Chancery, cursive;
	text-align:center;
	    align-items: center;
    justify-content: center;
	
}
h1.menu1
{	
	text-align:center;
	
}
.item4{
	height:95%;
	margin: 5% 5% 5% 5%;
	border: 2px solid RGB(201, 180, 115);
	text-align:center;
	
	
	
}
.table1
{  margin-top:5%;
	padding-left:5%;
	padding-right:5%;
	text-align:left;
	margin:0% auto;
	width:95%
	
}
th
{
	
	text-align:left;
	padding-bottom:5px;
	font-size:150%;
	font-weight: bold;
	border-bottom:solid 2px white;
	font-style:italic;
	
}
td{
	padding-top:5px;
padding-bottom:2px;
}
td.jeden
{
	text-align:right;
}

th.pizza
{
	padding-top:20px;
}
td.skladniki
{
	padding-left:3%;
	font-size:65%;
}
.galeria1
{	background: RGB(20, 46, 18);
	width: 80%;
	color:white;
	height:100%;
	padding-bottom:2%;
	margin-top:2%;
	border: 1% solid black;
	text-align:center;
	
}
.galeria2{
text-align:center;
	height:94%;
	margin: 5% 5% 5% 5%;
	border: 2px solid RGB(201, 180, 115);
	padding-left:2%;
	padding-right:2%;
	
}
#galeria{
	  display: flex;
    align-items: center;
    justify-content: center;
}
#galeria img {
  display: none;
float:left;
}

#galeria img.active {
  display: block;
  margin: auto;
  width:90%;

}
.button1 {
    float: left;
}
.button1 button {
	height:50%;
    width: 100%; 
}
.button2 {
    float: left;
}
.button2 button {
	height:50%;
    width: 100%; 
}

.jezyki {
	display: flex;
	width:10%;
	align-items:right;
	color:white;
	margin-left:85%;

}

.jezyki p{
	color:white;
}

.uk{
	width:30px;
}

.pl{
	width:30px;
}
}

